<footer >
    <div class="footer-container">
        <div class="footer-logo">
            <ul>

            </ul>
        </div>
        <div class="footer-col">
            <ul>
                <li>
                    <a asp-controller="" asp-action="Index">Trang Chủ</a>
                </li>
                <li>
                    <a asp-controller="" asp-action="Index">Sản Phẩm</a>
                </li>
                <li>
                    <a asp-controller="" asp-action="Index">Danh Sách Yêu Thích</a>
                </li>
                <li>
                    <a asp-controller="" asp-action="Index">Về Chúng tôi</a>
                </li>
                <li>
                    <a asp-controller="" asp-action="Index">Liên Hệ</a>
                </li>
            </ul>
        </div>
        <div class="footer-col"
            <ul>
                <li>
                    <a asp-controller="" asp-action="Index"></a>
                </li>
                <li>
                    <a asp-controller="" asp-action="Index"></a>
                </li>
                <li>
                    <a asp-controller="" asp-action="Index"></a>
                </li>
            </ul>
        </div>
        <div class="footer-col">
            <ul>
                <li>
                    <span>123, đường Thống Nhất, Quận blabla</span>
                </li>
                <li>
                    <span>Phone: 0987654321.</span>
                </li>
                <li>
                    <span>E-mail: shopH123@gmail.com</span>
                </li>
            </ul>
        </div>
    </div>
</footer>