<header class="header">
		<div>
			<a asp-area="" asp-controller="" asp-action="">
				<img src="#" alt="Logo" />
			</a>
		</div>

		<nav class="nav-bar">
			<a>Trang Chủ</a>
			<a>Về Chúng Tôi</a>
			<a>Sản Phẩm</a>
			<a asp-area="">Liên Hệ</a>
		</nav>

		<div>
			<a asp-action="">
			<img src="#" alt="Icon cart" />
			</a>
			<a asp-action="">
			<img src="#" />
			</a>
		</div>
</header>