@{
	Layout = "_Layout";
    ViewData["Title"] = "Trang Chủ";
}

<div>
    <div>
        <div>
            <div>
                <img src="#" alt="Banner" />
            </div>
        </div>
    </div>

    <div>
        <div>
            <div>
                <h3>BestSeller</h3>
                <p>Sản phẩm bán chạy nhất</p>
            </div>
			<div>
                <button>Xem Tất Cả</button>
            </div>
        </div>
        
        <div>
            <div>
				<img src="#" alt="Alternate Text" />
                <h4>Ten sp</h4>
                <p>Mo ta sp</p>
            </div>
            <div>
               <p>Gia</p>
				<button>Them vao gio</button>
            </div>
        </div>
    </div>
    <div>
		<div>
            danh muc sp
		</div>
    </div>

    <div>
        <div>
            <div>
                <h3>New ProDuct</h3>
                <p>Sản phẩm bán chạy nhất</p>
            </div>
            <div>
                <button>Xem Tất Cả</button>
            </div>
        </div>

        <div>
            <div>
                <img src="#" alt="Alternate Text" />
                <h4>Ten sp</h4>
                <p>Mo ta sp</p>
            </div>
            <div>
                <p>Gia</p>
                <button>Them vao gio</button>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <img src="#" alt="Alternate Text" />
            </div>

            <div>
                <h3>Some about us</h3>
				<p>
					ipsum dolor sit amet, consectetur adipiscing elit.
					Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

    <div>
        <div>
            <div>
				<h3>From The Blog</h3>
				<p>Latest News & Articles</p>
                <button>Mua Ngay</button>
            </div>
            <div>
                Giam 40%
            </div>
        </div>
    </div>

</div>
